header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  height: 100px;
  /* border: 1px solid ; */
}
.logo {
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  /* text-shadow: 2px 1px 8px #e2e2e2; */
  letter-spacing: 2px;
}
.logo span {
  color: #007bff;
}
.nav-menu {
  display: flex;
  gap: 50px;
}
.nav-item {
  background-color: rgba(0, 0, 0, 0.541);
  padding: 8px 14px;
  color: white;
  /* border-bottom: 4px solid  #007bff; */
  font-weight: 500;
  font-size: 20px;
  border-radius: 7px;
}
.signup-btn {
  background-color: #007bff;
  padding: 8px 15px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 21px;
  border-radius: 7px;
}
.active {
  color: #007bff;
  
}
